@media (min-width: 712px) and (orientation: portrait){
    .writContainer{
        width: 40rem;
        margin-top: 10rem;
        max-height: calc(100vh - 18rem)!important;
    }
    .subContainer{
        width: 30rem;
    }
}

@media(min-width: 824px) and (orientation: landscape){
    .writContainer{
        width: 40rem!important;
        margin-top: 5rem;
    }
    .subContainer{
        width: 30rem!important;
    }
}

@media (min-width: 1138px) and (orientation: landscape){
    .writContainer{
        width: 55rem!important;
    }
    .subContainer{
        width: 45rem!important;
    }
}

@media (min-width: 1440px) and (orientation: landscape){
    .writContainer{
        width: 65rem!important;
    }
    .subContainer{
        width: 60rem!important;
    }
}